<section class="home py-4">
    <div class="container">
        <div class="row text-md-center">
            <div class="col-12 col-md-6 col-lg-3 mb-3">
                <div class="card">
                    <img src="assets/img/home-img/plus.png" class="card-img-top" alt="Ordenes">
                    <div class="card-body">
                        <h5 class="card-title">Agregar Lbros</h5>
                        <p class="card-text">Registrar, editar, eliminar y generar salida de ordenes.</p>
                        <a href="/ordenes" class="btn btn-primary">Ingresar</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mb-3">
                <div class="card" >
                    <img src="assets/img/home-img/consulta.png" class="card-img-top" alt="Clientes">
                    <div class="card-body">
                        <h5 class="card-title">Eliminar Libros</h5>
                        <p class="card-text">Crear, editar, eliminar  y visualizar clientes.</p>
                        <a href="/clientes" class="btn btn-primary">Ingresar</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mb-3">
                <div class="card" >
                    <img src="assets/img/home-img/delete.png" class="card-img-top" alt="Ajustes">
                    <div class="card-body">
                        <h5 class="card-title">Prestar Libros</h5>
                        <p class="card-text">Editar encabezado y píe de página de impresiones.</p>
                        <a href="/ajustes" class="btn btn-primary">Ingresar</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mb-3">
                <div class="card" >
                    <img src="assets/img/home-img/prestamo.png" class="card-img-top" alt="Contabilidad">
                    <div class="card-body">
                        <h5 class="card-title">Consultar Libros</h5>
                        <p class="card-text">penmdiente para la determiand descripcion.</p>
                        <a href="/contabilidad" class="btn btn-primary">Ingresar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>